* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #c3eaf2;
 
}


.form-banner img {
  height: 100%;
  width: 100%;
 
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


.loader-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

.admincontent{
  font-size: larger;
  font-weight: bold;
  font-style: inherit;
  letter-spacing: 1px;
  word-spacing: 2px;
  margin-top: 30px;

}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.navbar{
  background-color: rgb(21, 0, 22) !important;

}
.container-fluid{
  background-color: rgb(31, 3, 51);
}
.navbar-nav  {
  background-color: #26022f;
  
}
.navbar-nav li {
  background-color: #2c97de;
}


.navbar-brand {
  margin-top: 3px;
  background-color: rgb(63, 5, 104) !important;
  color: rgb(255, 240, 240) !important;
  width: 180px;
  
  
}
.navbar-brand h1 {
  font-size: larger;
}

.gamerbtn{
  color: rgb(241, 243, 244) !important;
  background-color: rgb(1, 18, 33) !important;
  font-size: large;
  width: 100px;
}

.nav-link{
  color: rgb(0, 0, 0);
  font-size: larger;
  font-weight: 700;
}

.btnwhy{
  margin-top: 10px;
  
}
.logobrand{
  color: rgb(3, 86, 62);
}